.bg-light-grey{
    background-color: #F8F9FA;
}
.font-013{
    font-size: 13px;

}
.profile-nav, .profile-info{
    margin-top:30px;   
}
.profile-info {
    background-color:#f8f7f5 ;
    border-top: 1px solid #e7ebee;
}

.bio-graph-info {
    color: #89817e;
}

.bio-graph-info h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px;
}

.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;
}

.bio-row p span {
    width: 100px;
    display: inline-block;
}

.bio-chart, .bio-desk {
    float: left;
}

.bio-chart {
    width: 40%;
}

.bio-desk {
    width: 60%;
}

.bio-desk h4 {
    font-size: 15px;
    font-weight:400;
}

.bio-desk h4.terques {
    color: #4CC5CD;
}

.bio-desk h4.red {
    color: #e26b7f;
}

.bio-desk h4.green {
    color: #97be4b;
}

.bio-desk h4.purple {
    color: #caa3da;
}

.panel {
    float: right;
    position: relative;
}

.panel {
    background: #F4F4F4 ;
    display: inline-block;
}

